.Cart {
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6s;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.3rem;
  height: fit-content;
  z-index: 200;
  max-width: 350px;
  width: 80vw;

  max-height: 550px;
  background: white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  button {
    box-shadow: 0 2px 3px 2px #ccc;
    margin: 10px 0;
  }
}

.CartItem__Image {
  width: 80px !important;
}

.Container {
  position: relative;
}

.TotalPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.AllCartItems {
  max-height: 350px;
  overflow: auto;
  &::-webkit-scrollbar {
    opacity: 1;
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: orange;
  }
  &::-webkit-scrollbar-thumb {
    background: black;
  }
}
