.Store__Container {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.ResetButton {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  font-family: inherit;
  padding: 0.5rem;
  border: none;
  background: orange;
  color: white;
}
