.Actions {
  display: flex;
  justify-content: center;
  button {
    width: 100%;
    padding: 0.3rem;
    box-shadow: 0px 2px 2px 1px #ccc;
    font-family: inherit;
    border: none;
  }
}

.AddToCartButton {
  background: orange;
  color: white;
}

.DetailButton {
  background: none;
}
