.MobileNavigationItem {
  border-top: 1px solid #ccc;
  &:hover {
    cursor: pointer;
  }
  p {
    padding: 0.5rem;
  }
}

.Dropdown {
  padding: 0.4rem;
  li {
    padding: 0.3rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      border-right: 1px solid #ccc;
    }
  }
}

.Active {
  background: orange;
  color: white;
}
