.Navigation {
  width: 100%;
  position: relative;

  .Navigation__Mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Basket {
      display: flex;
      align-items: center;
      p {
        font-size: 0.8rem;
        color: #ccc;
      }
      .Icon {
        color: #ccc;
        margin-right: 5px;
        font-size: 19px;
        padding: 0.2rem;
      }
    }
  }
}
