.Navigation {
  width: 100%;
  position: relative;

  .Navigation__Mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1250px) {
      padding: 0.5rem;
    }
    .Basket {
      width: fit-content;
      display: flex;
      padding: 0.3rem;
      border-radius: 18px;

      align-items: center;
      &:hover {
        cursor: pointer;
        background: orange;
        .Icon {
          color: white;
        }
        span {
          color: #ccc;
          background: whitesmoke;
        }
      }
      p {
        font-size: 0.8rem;
        color: #ccc;
      }
      .Icon {
        color: #ccc;
        margin-right: 5px;
        font-size: 19px;
        padding: 0.2rem;
      }
    }
  }
}

.CartAmount {
  display: block;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: orange;
  color: white;
}
