.CartItem {
  padding: 0.3rem;
  margin: 5px 0;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  img {
    width: 80px;
  }
}

.Quantity {
  padding: 0.3rem;
  display: flex;
  p {
    margin-right: 2px;
  }
}
