.Page__Header {
  text-align: center;
  text-transform: uppercase;
}

.AccountPage {
  max-width: 900px;
  padding: 2.33rem;
  display: flex;
  flex-direction: column;
}

.Forms {
  display: flex;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}
